@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.name-container {
  max-height: 1600px;
  flex-grow: 1;
  z-index: 1000;
}

.back {
  opacity: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1053%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(29%2c 30%2c 31%2c 1)'%3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 405.22Q60.04 345.26%2c 120 405.3Q143.59 308.89%2c 240 332.49Q307.27 279.76%2c 360 347.03Q427.12 294.15%2c 480 361.27Q557.32 318.59%2c 600 395.91Q613.45 337.36%2c 672 350.81Q726.31 285.12%2c 792 339.43Q874.93 302.36%2c 912 385.29Q961.86 315.15%2c 1032 365.02Q1112.82 325.84%2c 1152 406.66Q1172.29 306.95%2c 1272 327.24Q1313.14 296.38%2c 1344 337.53Q1410.58 284.11%2c 1464 350.69z' fill='rgba(40%2c 44%2c 53%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 397.55Q57.41 382.96%2c 72 440.37Q123.64 372.01%2c 192 423.66Q242.69 402.35%2c 264 453.04Q266.01 383.05%2c 336 385.06Q398.55 375.61%2c 408 438.15Q455.04 413.19%2c 480 460.22Q510.25 418.47%2c 552 448.72Q606.22 382.94%2c 672 437.16Q725.42 370.59%2c 792 424.01Q819.52 379.53%2c 864 407.06Q915.62 386.68%2c 936 438.29Q961.86 392.15%2c 1008 418.01Q1056.7 346.72%2c 1128 395.42Q1193.25 388.67%2c 1200 453.92Q1265.54 399.46%2c 1320 464.99Q1343.98 416.97%2c 1392 440.95Q1434.75 363.7%2c 1512 406.45z' fill='rgba(33%2c 41%2c 53%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 477.27Q83.61 440.88%2c 120 524.49Q163.33 447.82%2c 240 491.15Q259.36 438.5%2c 312 457.86Q383.25 409.12%2c 432 480.37Q473.01 449.38%2c 504 490.4Q525.22 439.62%2c 576 460.84Q621 433.85%2c 648 478.85Q690.83 449.68%2c 720 492.5Q735.84 436.34%2c 792 452.18Q836.22 424.4%2c 864 468.63Q916.03 448.66%2c 936 500.69Q987.62 432.31%2c 1056 483.92Q1133.61 441.52%2c 1176 519.13Q1183.64 454.77%2c 1248 462.41Q1300.16 394.58%2c 1368 446.74Q1464.8 423.54%2c 1488 520.33z' fill='rgba(49%2c 70%2c 96%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 526.51Q68.2 474.71%2c 120 542.91Q173.5 524.41%2c 192 577.91Q203.95 517.86%2c 264 529.81Q311.97 457.78%2c 384 505.75Q469.79 471.54%2c 504 557.33Q525.81 507.14%2c 576 528.95Q618.04 498.99%2c 648 541.03Q698.73 519.75%2c 720 570.48Q730.23 508.71%2c 792 518.94Q862.51 469.45%2c 912 539.96Q930.71 486.67%2c 984 505.39Q1068.1 469.49%2c 1104 553.59Q1128.42 506.02%2c 1176 530.44Q1228.61 511.05%2c 1248 563.66Q1260.38 504.04%2c 1320 516.43Q1362.32 486.75%2c 1392 529.07Q1467.54 484.61%2c 1512 560.15z' fill='rgba(43%2c 42%2c 42%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1053'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  animation: fade 1.4s ease-in-out forwards 2.8s;
}

.anim {
  opacity: 0;
  animation: fade 1.4s ease-in-out forwards 1.4s;
}

#name path:nth-child(1) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(2) {
  stroke-dasharray: 391.5607604980469;
  stroke-dashoffset: 391.5607604980469;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(3) {
  stroke-dasharray: 305.9999694824219;
  stroke-dashoffset: 305.9999694824219;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(4) {
  stroke-dasharray: 452.159912109375;
  stroke-dashoffset: 452.159912109375;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(5) {
  stroke-dasharray: 392.6400146484375;
  stroke-dashoffset: 392.6400146484375;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(6) {
  stroke-dasharray: 472.36676025390625;
  stroke-dashoffset: 472.36676025390625;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(7) {
  stroke-dasharray: 216.239990234375;
  stroke-dashoffset: 216.239990234375;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(8) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(9) {
  stroke-dasharray: 268.80010986328125;
  stroke-dashoffset: 268.80010986328125;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(10) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(11) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(12) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(13) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(14) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(15) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}
#name path:nth-child(16) {
  stroke-dasharray: 472.3667297363281;
  stroke-dashoffset: 472.3667297363281;
  animation: svg-text-anim 1.4s ease-in-out forwards 0.6s;
}

@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
